/******************************************
/* SASS VARIABLES
/*******************************************/

$main-color: #ff5722;
$main-light: #ff8a65;
$main-dark: #bf360c;
$title-color: #212121;
$main-txt-color: #424242;
$border-color: #e0e0e0;
$light-bkg: #f5f5f5;
$input-border: #bdbdbd;
$global-bkg: #F2F6F7;
$placeholder-color: #bdbdbd;


/******************************************
/* BASE STYLES
/*******************************************/
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 14px;
  }
}


body *:focus {
  border-color: $main-color;
}

main, section {
  color: $main-txt-color;
}

@media (min-width: 1000px) {
  nav ul {
    gap: 50px;
  }
}

#about,
#services,
#portfolio,
#contact {
  padding: 5% 5% 50px;
}

@media screen and (min-width: 600px) {
  #about,
  #services,
  #portfolio,
  #contact, main#intro {
    padding: 5% 10%;
  }
  main#intro {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1000px) {
  #about,
  #services,
  #portfolio,
  #contact, main#intro {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
  font-weight: bold;
}

.sectHeading {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.sectHeading span {
  display: inline;
  position: relative;
}

.sectHeading span::before,
.sectHeading span::after {
  position: absolute;
  content: "";
  background-color: $main-color;
  height: 3px;
  width: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.sectHeading span::after {
  right: -35px;
}

.sectHeading span::before {
  left: -35px;
}


ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $main-txt-color;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 300ms;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;

}

.blur {
  filter: blur(3px);
  background: rgb(0 0 0 / 15%);
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-link:hover {
  background-color: $main-light;
}

.btn-link:active {
  background-color: $main-dark;
}

/******************************************
/* MODULE & STATES
/*******************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  border-bottom: 1px solid $border-color;
  position: relative;
  z-index: 1;

  .logoWrapper {
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  .menu {
    align-self: flex-end;
  }

  ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -251px;
    left: 0;
    font-size: 1.6rem;
    background-color: white;
    margin: 0;
    width: 100vw;
  }

  li {
    width: 100%;
    height: 50px;
    border-bottom: 0.5px solid $border-color;
  }

  li:hover > a {
    color: $main-color;
  }

  li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

#menuIcon {
  font-size: 3rem;
}

@media screen and (min-width: 1000px) {
  nav {
    justify-content: space-between;

    .hidden {
      transition: none;
      visibility: visible;
      opacity: 1;
      flex-direction: row;
      position: static;
      width: 600px;
      margin-left: auto;
    }

    li {
      border: none;
    }

    li > a {
      font-size: 1.2rem;
      font-weight: normal;
      color: $main-txt-color;


    }
  }

  #menuIcon {
    display: none;
  }
}


h1 {
  font-size: 3.5rem;
  margin: 20px 0;
  padding-bottom: 10px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110px;
  height: 3px;
  background-color: $main-color;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.3rem;
  }
}


p {
  font-size: 1.6rem;
  color: $main-txt-color;
  line-height: 2rem;
}

#intro {
  display: flex;
  flex-direction: column;
  padding: 100px 10px 50px;

  .smallTitle {
    font-weight: bold;
    font-size: 1.4rem;
  }

  h3 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  button {
    margin-bottom: 20px;
  }
}

#dynamicText {
  display: inline-block;
}

#insertionPoint {
  animation: blink 1s steps(2, start) infinite;
  font-size: 2.5rem;

}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.image {
  display: flex;
  justify-content: center;

}
.image img {
  border: 8px solid $main-color;
  margin-top: 20px;
  width: 70%;
  z-index: 10;
}
@media screen and (min-width: 500px) {
  .image img {
    width: 60%;
  }
}

@media screen and (min-width: 650px) {
  .image img {
    width: 50%;
    display: block;
    height: auto;
    margin: auto;
  }
}

@media screen and (min-width: 1000px) {
  main#intro {
    padding-top: 180px;
    padding-right: 10px;
    flex-direction: row;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

}

#about {
  h3,
  h4,
  p,
  ul {
    padding-left: 15px;
    padding-right: 15px;

  }

  h3 {
    font-size: 2rem;
    border-left: 2px solid $main-color;
    margin-bottom: 15px;
  }

  h4 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

  }
}

@media screen and (min-width: 1000px) {
  #about {
    h2 {
      margin-bottom: 50px;
    }

    h3 {
      margin-bottom: 30px;
    }

    ul {
      justify-content: space-between;
      gap: 40px;
    }
  }
  .me {
    margin-bottom: 50px;
  }
}

#services {
  position: relative;
  background-color: $global-bkg;

  h2 {
    padding-bottom: 40px;
  }

  h4 {
    font-size: 2rem;
    text-align: center;
    margin: 25px 0 5px;
  }

  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .card {
    position: relative;
    display: grid;
    grid-template-rows: 90px 60px 300px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    height: 500px;
    width: 300px;
  }

  .pentagon {
    text-align: center;
  }

  .card span {
    color: white;
    background-color: $main-color;
    font-size: 6rem;
    border-radius: 15px;

  }

  p {
    text-align: center;
    padding: 0 60px 30px;
  }

  .techContainer {
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .tech {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 1px solid $border-color;
    border-radius: 10px;
    background-color: white;
    padding: 11px;
    text-align: center;
  }

  .tech:hover {
    color: $main-color;
    border-color: $main-color;
  }


}

#backendTech li:last-child {
  grid-column: 1 / 3;
  width: 50%;
  justify-self: center;
}

@media screen and (min-width: 900px) {
  #services {
    .skillsContainer {
      flex-direction: row;
      flex-wrap: wrap;

    }

    li {
      display: grid;
      flex-basis: 30%;
    }

    .card {
      justify-self: center;
    }
    h4 {
      font-size: 1.4rem;
    }

    p {
      padding: 10px 30px 30px;
      font-size: 1.2rem;
    }

  }
}

#portfolio {

  padding: 5% 0;
  img {
    margin-top: 50px;
    border-radius: 10px;
    border: 3px solid $title-color;
    transition: transform .2s;
    width: 250px;
    height: 300px;
  }

  .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .myWork {
    padding: 1% 1%;
  }

  img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  p {
    text-align: center;
  }

  h3 {
    margin: 20px;
    font-size: 2.4rem;
  }

  p {
    width: 300px;
    margin-bottom: 20px;
  }
}

.imageLinkWrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  #portfolio {
    .container {
      display: flex;
      width: 800px;
      margin: auto;
      justify-content: center;
      gap: 50px;
    }

    img {
      height: 350px;
      width: 300px;
      object-fit: cover;
      object-position: top;
    }

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  #portfolio {
    padding: 5% 3%;

    .container {
      display: flex;
      width: 1300px;
      margin: auto;
    }

    .myWork {
      flex: 1;
    }
    img {
      height: 350px;
      width: 300px;
      object-fit: cover;
      object-position: top;
    }
  }
}

.myWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;

}

#contact {
  background-color: $global-bkg;

  h2 {
    margin-bottom: 50px;
  }

  p {
    margin-bottom: 30px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 500px;
    padding: 20px 30px;
    border-radius: 15px;
  }

  input {
    padding: 0 15px;
    height: 40px;
    margin: 5px 0;
    border: 1px solid $input-border;
    border-radius: 5px;
  }

  input::placeholder {
    color: $main-txt-color;
  }

  textarea {
    appearance: none;
    margin: 20px 0;
    resize: both;
    padding: 10px;
  }

  textarea::placeholder {
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (min-width: 1000px) {

  #contact {
    form {
      width: 50%;
      margin: auto;
    }
  }

}


.buttonContainer {
  display: flex;
  align-items: center;
  gap: 5vw;
}

@media screen and (min-width: 1000px) {
  .buttonContainer {
    gap: 2vw;
  }
}

#reset {
  background-color: white;
  border: 1px solid $border-color;
  color: $main-color;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

#reset:hover{
  background-color: whitesmoke;
}

#submit {
  background-color: $main-color;
  border: none;
  color: white;
  font-size: 1.4rem;
  height: 40px;
  width: 130px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: $main-light;
}

@media screen and (min-width: 1000px) {
  #submit {
    height: 100%;
  }
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.4rem;
  }
}

.switch {
  position: absolute;
  display: inline-block;
  width: 47px;
  height: 28px;
  top: 110px;
  right: 30px;
}

.switch::before {
  position: absolute;
  bottom: 30px;
  content: "Particles";
  font-size: 12px;
  text-align: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

@media (max-width: 1000px) {
  #switchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  .switch {
    position: relative;
    top: 7px;
    right: 0;
    left: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  background-color: rgb(220, 220, 220);
  transition: .3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: .4s;
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;

}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
