* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

body *:focus {
  border-color: #ff5722;
}

main, section {
  color: #424242;
}

@media (min-width: 1000px) {
  nav ul {
    gap: 50px;
  }
}
#intro {
  padding: 20px;
  justify-content: space-between;
}

#services {
  padding: 10px 50px 50px;
}

.sectionContainer, #intro {
  width: 1500px;
}

@media screen and (max-width: 1550px) {
  .sectionContainer, #intro {
    width: 1000px;
  }
}
@media screen and (max-width: 1050px) {
  .sectionContainer, #intro {
    width: 800px;
  }
}
@media screen and (max-width: 800px) {
  .sectionContainer, #intro {
    width: 500px;
  }
}
@media screen and (max-width: 520px) {
  .sectionContainer, #intro {
    width: 400px;
  }
}
@media screen and (max-width: 420px) {
  .sectionContainer, #intro {
    width: 300px;
  }
}
.altBg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F6F7;
  width: 100%;
  z-index: -100;
}

#about {
  display: flex;
  flex-direction: column;
}
#about p {
  flex: 1;
}

@media screen and (min-width: 600px) {
  #about,
  #services,
  #portfolio,
  main#intro {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1000px) {
  #about,
  #services,
  #portfolio, main#intro {
    margin: 40px 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: #212121;
  font-weight: bold;
}

.sectHeading {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.sectHeading span {
  display: inline;
  position: relative;
}

.sectHeading span::before,
.sectHeading span::after {
  position: absolute;
  content: "";
  background-color: #ff5722;
  height: 3px;
  width: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.sectHeading span::after {
  right: -35px;
}

.sectHeading span::before {
  left: -35px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #424242;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 300ms;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

#blurAll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  z-index: 10;
}

.blur {
  filter: blur(3px);
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5722;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-link:hover {
  background-color: #ff7e55;
}

.btn-link:active {
  background-color: #ee3900;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  z-index: 20;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
}

nav {
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 1;
}
nav .logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
nav h2 {
  font-size: 2rem;
  font-weight: bold;
}
nav .menu {
  position: absolute;
  right: 20px;
}
nav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -251px;
  left: 0;
  font-size: 2rem;
  background-color: white;
  margin: 0;
  width: 100vw;
}
nav li {
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid #e0e0e0;
}
nav li:hover > a {
  color: #ff5722;
}
nav li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#menuIcon {
  font-size: 3rem;
}

@media screen and (min-width: 1000px) {
  header {
    height: 80px;
  }
  nav {
    justify-content: space-between;
  }
  nav .hidden {
    transition: none;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    position: static;
    width: 600px;
    margin: auto;
  }
  nav li {
    border: none;
  }
  nav li > a {
    font-size: 1.8rem;
    font-weight: normal;
    color: #424242;
  }
  #menuIcon {
    display: none;
  }
}
h1 {
  font-size: 3.5rem;
  margin: 20px 0;
  padding-bottom: 10px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110px;
  height: 3px;
  background-color: #ff5722;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.3rem;
  }
}
p {
  font-size: 1.6rem;
  color: #424242;
  line-height: 2rem;
}

#intro {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
#intro .smallTitle {
  font-weight: bold;
  font-size: 1.4rem;
}
#intro h3 {
  margin-bottom: 20px;
}
#intro p {
  margin-bottom: 20px;
}
#intro button {
  margin-bottom: 20px;
}

#dynamicText {
  display: inline-block;
}

#insertionPoint {
  animation: blink 1s steps(2, start) infinite;
  font-size: 2.5rem;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
.image {
  display: flex;
  justify-content: flex-end;
}

.image img {
  border: 8px solid #ff5722;
  margin-top: 20px;
  width: 70%;
  z-index: -10;
}

@media screen and (max-width: 420px) {
  .image img {
    width: 250px;
  }
}
@media screen and (max-width: 1000px) {
  .image img {
    width: 50%;
    display: block;
    height: auto;
    margin: auto;
  }
}
@media screen and (min-width: 1000px) {
  main#intro {
    padding-top: 100px;
    padding-right: 10px;
    flex-direction: row;
  }
  main#intro .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#about h3 {
  font-size: 2rem;
  border-left: 2px solid #ff5722;
  margin-bottom: 15px;
}
#about h4 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
#about p {
  margin-bottom: 20px;
}
#about ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  #about h2 {
    margin-bottom: 50px;
  }
  #about h3 {
    margin-bottom: 30px;
  }
  #about ul {
    justify-content: space-between;
    gap: 40px;
  }
  .me {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
#services h2 {
  padding-bottom: 40px;
}
#services h4 {
  font-size: 2rem;
  text-align: center;
  margin: 25px 0 5px;
}
#services .skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
#services .card {
  position: relative;
  display: grid;
  grid-template-rows: 90px 60px 300px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  height: 500px;
  width: 300px;
}
#services .pentagon {
  text-align: center;
}
#services .card span {
  color: white;
  background-color: #ff5722;
  font-size: 6rem;
  border-radius: 15px;
}
#services p {
  text-align: center;
  padding: 0 60px 30px;
}
#services .techContainer {
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
#services .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  height: auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: white;
  padding: 11px;
  text-align: center;
}
#services .tech:hover {
  color: #ff5722;
  border-color: #ff5722;
}

#backendTech li:last-child {
  grid-column: 1/3;
  width: 50%;
  justify-self: center;
}

@media screen and (min-width: 900px) {
  #services .skillsContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #services li {
    display: grid;
    flex-basis: 30%;
  }
  #services .card {
    justify-self: center;
  }
  #services h4 {
    font-size: 1.4rem;
  }
  #services p {
    padding: 10px 30px 30px;
    font-size: 1.2rem;
  }
}
#portfolio {
  display: grid;
  padding: 20px;
}
#portfolio h3 {
  text-align: center;
}
#portfolio img {
  border-radius: 10px;
  border: 3px solid #212121;
  transition: transform 0.2s;
  object-fit: cover;
  object-position: top;
  height: 350px;
  width: 300px;
}
#portfolio .workContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
#portfolio .myWork {
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}
#portfolio img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#portfolio p {
  text-align: center;
}
#portfolio h3 {
  margin: 20px;
  font-size: 2.4rem;
}
#portfolio p {
  width: 300px;
  margin-bottom: 20px;
}

.imageLinkWrapper {
  justify-content: center;
}

@media screen and (max-width: 1550px) {
  #portfolio .workContainer {
    display: grid;
    grid-template-columns: 400px 400px;
    margin: 10px auto;
  }
  #portfolio h3 {
    font-size: 2rem;
  }
  #portfolio p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1050px) {
  #portfolio .workContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 10px auto;
  }
  #portfolio .myWork {
    flex: 1;
  }
  #portfolio img {
    height: 250px;
    width: 200px;
  }
}
@media screen and (max-width: 800px) {
  #portfolio .workContainer {
    grid-template-columns: 1fr;
  }
  #portfolio img {
    height: 300px;
    width: 250px;
  }
}
.myWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

@media screen and (min-width: 1000px) {
  .buttonContainer {
    gap: 2vw;
  }
}
#reset {
  background-color: white;
  border: 1px solid #e0e0e0;
  color: #ff5722;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

#reset:hover {
  background-color: whitesmoke;
}

#submit {
  background-color: #ff5722;
  border: none;
  color: white;
  font-size: 1.4rem;
  height: 40px;
  width: 130px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #ff7e55;
}

@media screen and (min-width: 1000px) {
  #submit {
    height: 100%;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top: 1px solid lightgray;
  width: 100%;
}
footer p {
  font-size: 1.4rem;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 47px;
  height: 28px;
  top: 110px;
  right: 30px;
}

.switch::before {
  position: absolute;
  bottom: 30px;
  content: "Particles";
  font-size: 12px;
  text-align: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*# sourceMappingURL=style.css.map */
